@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --primary-color: #fb9062;
  --primary-color-dark: #eeaf61;
  --secondary-color: #ee5d6c;
  --text-dark: #1f2937;
  --text-light: #6b7280;
  --extra-light: #FAF5FF;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff1df;
  z-index: 99;
}

.nav__content {
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo a {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
  transition: 0.3s;
}
nav .logo a:hover {
  color: var(--primary-color-dark);
}

nav .checkbox {
  display: none;
}

nav input {
  display: none;
}
nav .checkbox i {
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
}

ul li a {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: var(--text-dark);
  transition: 0.3s;
}

ul li a:hover {
  border-top-color: var(--secondary-color);
  border-bottom-color: var(--secondary-color);
  color: var(--secondary-color);
}

.section {
  background-color: var(--extra-light);
}

.section__container {
  min-height: 100vh;
  max-width: 1000px;
  min-width: 500px;
  margin: auto;
  padding: 1rem;
  display: grid;
  gap: 4rem;
}

.section__container-home {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitle {
  letter-spacing: 2px;
  color: var(--text-light);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.lead-title-about {
  margin-top: 100px;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.title span {
  font-weight: 600;
}

.description {
  line-height: 1.5rem;
  color: var(--text-light);
  margin-bottom: 2rem;
}

.action__btns {
  display: flex;
  gap: 1rem;
}

.action__btns button {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  outline: none;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.image {
  display: grid;
  place-items: center;
}

.image img {
  width: min(25rem, 90%);
  border-radius: 100%;
}

.items-list {
  margin-top: 2rem; /* Adjust based on layout */
}

.item {
  background-color: #ffffff; /* Light background */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
  border-radius: 8px; /* Rounded corners */
  padding: 1rem; /* Space inside the item */
  margin-bottom: 1rem; /* Space between items */
}

.item-title {
  color: var(--text-dark); /* Dark text for title */
  margin-bottom: 0.5rem; /* Space between title and description */
}

.item-description {
  color: var(--text-light); /* Lighter text for description */
  font-size: 0.9rem; /* Slightly smaller font size */
}

.item-link {
  text-decoration: none; /* Removes underline from links */
  color: inherit; /* Ensures text color isn't changed by the link */
  display: block; /* Makes the entire area clickable */
}

.item-link:hover .item {
  background-color: #f0f0f0; /* Optional: Change background on hover for visual feedback */
  cursor: pointer; /* Changes the cursor to indicate it's clickable */
}

.contact-info {
  list-style: none;
  padding: 0;
}

.contact-item {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.contact-item i {
  margin-right: 10px;
  font-size: 24px;
}

.contact-item a {
  text-decoration: none;
  color: #fb9062; /* Adjust the color to match your design */
}

.contact-item a:hover {
  text-decoration: underline;
  color: #eeaf61;
}

.accordion {
  background-color: #ffeff4;
  font-family: "Poppins", sans-serif;;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ffe1eb;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}


.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #ffe1eb;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}
.resume {
  padding-top: 5rem; /* Adjust top padding due to fixed nav */
  background-color: var(--extra-light);
  display: flex;
  justify-content: center;
}

.resume__container {
  display: flex;
  width: 100%;
  max-width: var(--max-width);
}

.resume__info {
  flex-basis: 30%; /* Adjust width as needed */
  background-color: #786a97; /* Different color for left section */
  color: #fff; /* Light text color for contrast */
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content */
}

.info__image img {
  width: 100px; /* Adjust based on preference */
  height: 100px; /* Adjust to maintain aspect ratio */
  border-radius: 50%; /* Circular image */
  margin-bottom: 20px;
}

.info__name {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.info__role {
  font-size: 0.8rem;
  margin-bottom: 20px;
}

.info__contact p {
  margin-bottom: 10px;
}

.resume__details {
  flex-basis: 70%; /* Adjust width as needed */
  padding: 20px;
}

.details__section {
  margin-bottom: 2rem; /* Spacing between sections */
  background-color: #fff; /* Light background for contrast */
  padding: 15px;
  border-radius: 8px; /* Rounded corners for a modern look */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

.details__section h2.subtitle {
  color: var(--primary-color); /* Use the primary color for subtitles */
  margin-bottom: 1rem;
}

.details__section h3 {
  color: var(--text-dark); /* Dark color for sub-section titles */
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.details__section p, .details__section ul {
  color: var(--text-light); /* Light color for text */
  font-size: 0.9rem; /* Adjust font size for readability */
}



.education__item, .experience__item {
  margin-top: 1rem;
}

.info__skills, .info__contact {
  margin-top: 20px; /* Adds spacing above each subsection */
}

.info__subtitle {
  margin-top: 10px;
  font-size: 1.2rem; /* Slightly larger font size for subtitles */
  color: #fff; /* White color for better contrast against the subsection background */
  margin-bottom: 10px; /* Adds spacing below the subtitle */
}


.info__skills ul {
  /* Resetting any column-related properties */
  -webkit-column-count: 1 !important; /* For Safari and Chrome */
  -moz-column-count: 1 !important; /* For Firefox */
  column-count: 1 !important;
  -webkit-column-gap: normal !important;
  -moz-column-gap: normal !important;
  column-gap: normal !important;
}

.resume__info ul li {
  /* Ensuring list items do not break into columns */
  -webkit-column-break-inside: avoid !important;
  page-break-inside: avoid !important;
  break-inside: avoid-column !important;
}


@media (max-width: 768px) {
  .details__section {
      margin-bottom: 1rem;
  }
}

@media (max-width: 768px) {
  .resume__container {
      flex-direction: column;
  }

  .resume__info, .resume__details {
      flex-basis: auto; /* Full width on smaller screens */
  }
}


@media (width < 750px) {
  nav .checkbox {
    display: block;
  }

  ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 85px);
    left: -100%;
    top: 85px;
    background-color: var(--extra-light);
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  nav #check:checked ~ ul {
    left: 0;
  }

  ul li a {
    font-size: 1.25rem;
  }

  .section__container {
    padding: 10rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }

  .image {
    grid-area: 1/1/2/2;
  }

  .action__btns {
    margin: auto;
  }
}